<div class="d-flex justify-content-center my-3">
  <form action="post">

    <label for="email" class="mx-center">
      <p>Digite seu Email:</p>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        class="form-control"
        [(ngModel)]="user.email"
        >
    </label>

    <label for="password" class="mx-3">
      <p>Digite sua Senha:</p>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Senha"
        class="form-control"
        [(ngModel)]="user.password"
      >
    </label>

    <label for="verified" [(ngModel)]="user.verified">
      <p>Email veificado?</p>
      <input
        class="form-check-input"
        type="radio"
        name="verified"
        id="verified-yes"
        value="True"
        > Sim

      <input
        class="form-check-input"
        type="radio"
        name="verified"
        id="verified-no"
        value="False"
        > Não
    </label>

    <button
      class="btn btn-primary my-2 mx-5" 
      (click)="saveNewUser()"
      type="submit"
    >
    Criar Novo Usuário
  </button>
  </form>
</div>
