<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="d-flex div-titulo-logo my-2">
        <img src="https://989325832-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2F-MGLHwoaRaiLL9MSXMX9%2Ficon%2FB1xSlwXWJqgtXtj2Y3zh%2FAF-LOGO-ZAPSIGN-29%201%402x.png?alt=media&token=4253421f-4fd2-407b-bb2f-8cd6228dcd14" alt="" width="35" height="35" class="mx-2">
        <h4 class="mx-1">ZapSign</h4>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/criar-nova-empresa" (click)="goToNewCompany()">Nova Empresa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/criar-novo-usuario" (click)="goToNewUser()">Novo Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/criar-novo-documento" (click)="goToNewDoc()">Novo Documento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>