<div class="d-flex justify-content-center my-5 flex-row">
  <form action="post">
    <label for="name" class="">
      <p>Digite o nome da Empresa:</p>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nome da Empresa"
        class="form-control"
        [(ngModel)]="company.name"
        >
    </label>

    <label for="locale" class="mx-3">
      <p>Digite a localização da Empresa:</p>
      <input
        type="text"
        name="locale"
        id="locale"
        placeholder="Localização da Empresa"
        class="form-control"
        [(ngModel)]="company.locale"
        >
    </label>

      <div class="input-group mb-3 my-4">
        <label class="input-group-text" for="inputGroupSelect01">Linguagens</label>
        <select
          class="form-select"
          id="inputGroupSelect01" 
          [(ngModel)]="company.lang"
        >
          <option selected>Selecione...</option>
          <option value="1">Português</option>
          <option value="2">Inglŝ</option>
          <option value="3">Espanhol</option>
        </select>
      </div>

      <div class="d-flex">
        <div class="ml-3 my-2">
        <p>Selecione o usuário que está criando:</p>
        <label
          for="options"
          *ngFor="let created_user of created_users; let i = index"
          class="d-flex flex-direction-column my-1"
          >
          <input
          class="form-check-input"
          type="radio"
          id="options"
          value="{{created_user}}"
          [(ngModel)]="created_users[i]"
          name="created_users[i]"
          > 
            {{created_users[i]}}
        </label>
      </div>

      <div class="mx-3 my-2">
        <p>Selecione os usuários convidados:</p>
        <label
          for="options"
          *ngFor="let invited_user of invited_users; let i = index"
          class="d-flex flex-direction-column my-1"
          [(ngModel)]="invited_users[i]"
          name="invited_users[i]"
          >
          <input
          class="form-check-input"
          type="checkbox"
          id="options"
          value="{{invited_user}}"
        > 
          {{invited_users[i]}}
        </label>
      </div>
    </div>

    <button
      class="btn btn-primary my-2" 
      type="submit"
      (click)="saveNewCompany()"
    >
    Criar Nova Empresa
  </button>
  </form>
</div>
